body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #070a22;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.heading {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.heading h2 {
    /* background-color: aliceblue; */
    width: 60%;
    align-items: center;
}

.heading li {
    font-size: 25px;
    color: white;
    background-color: rgb(28, 13, 87);
    height: 100%;
    width: 15%;
    text-align: center;
    border-radius: 20px;
    margin: 0px 5px;
}

h1 {
    color: white;
    text-align: center;
    background-color: #020414;
    height: 40px;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px black;

}

.outline {
    min-height: 300px;
    max-height: 550px;
    overflow: scroll;
    width: 95%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #020414;

}

h2 {
    text-align: center;
    color: white;
    margin-top: 12px;
}

.days {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: -10px;
}

.days li {
    width: 100px;
    text-align: center;
    /* background-color: rgb(77, 32, 32); */
    background-color: rgb(28, 13, 87);
    padding: 5px 0px;
    font-size: 18px;
}

.dates {
    color: white;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: -10px;
}

.dates li {
    width: 100px;
    text-align: center;
    padding: 5px 0px;
}

.active {
    /* background-color: rgb(20, 10, 58); */
    background-color: rgb(28, 13, 87);
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
}

.info {
    color: white;
    width: 95%;
    margin: 0px auto;
    border-top: solid 2px gray;
    overflow: hidden;
}

.info h4 {
    /* background-color: rgb(28, 13, 87); */
    margin-top: 0px;
    padding: 5px 0px;
    border-bottom: solid 2px gray;
    padding-left: 5px;
}

.listOfMovies {
    list-style-type: none;
}

.listOfMovies li {
    /* background-color: antiquewhite; */
    margin-left: -40px;
    border-bottom: solid 2px gray;
    height: 50px;
    padding-left: 15px;
    margin-top: -15px;
    letter-spacing: 0.5px;
}

.listOfMovies li h3 {
    font-size: 20px;
    font-weight: bolder;
}

.listOfMovies li p {
    margin-top: -18px;
    opacity: 0.6;
    font-size: 16px;
}
.monthViewMoviesUL{
    list-style-type: none;
    width: 100%;
    margin-top: -21px;
}
.monthViewMoviesUL li{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin-left: -40px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
}
.listDate{
    width: 60px;
    font-size: 30px;
    border-right: 3px solid gray;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.listInfo{
    height: 100%;
    /* background-color: aquamarine; */
    margin-top: 0px;
    margin-left: 10px;
}
.listInfo h3{
    font-size: 20px;
    margin-top: 4px;
}
.listInfo p{
    font-size: 14px;
    opacity: 0.7;
    margin-left: 0px;
    margin-top: -18px;
}

.avl {
    color: rgb(63, 80, 208);
}

.monthsBlock {
    margin-top: 10px;
    display: none;
}

.monthsList {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-left: -45px;
}

.monthsList li {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin-left: 5px;
    font-size: 18px;
    background-color: #070a22;
}

.monthsList .monthActive {
    background-color: rgb(28, 13, 87);
}
.noMovies{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    opacity: 0.7;
}
.noMoviesM{
    justify-content: center;
    font-size: 25px;
    opacity: 0.7;
}
.tip{
    opacity: 0.7;
    font-size: 12px;
    height: fit-content;
    margin-top: -5px;
    text-align: center;

}
