* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    overflow: hidden;
    background-color: rgb(198, 205, 244);
}

.header {
    background-color: rgb(5, 13, 102);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 10px;
    color: white;
}

.header h1 {
    width: 95%;
    cursor: pointer;
    padding-left: 5px;
}

.header i {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content h2 {
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
}

.OptionsList {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.OptionsList li {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 13, 102);
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.OptionsList li a {
    /* background-color: aqua; */
    padding: 60px;
    text-decoration: none;
    color: white;
}

.OptionsList li:hover {
    background-color: rgb(5, 10, 69);
    transition-duration: 0.5s;
    transform: scale(1.05);
}

.quickLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quickLinks ul {
    list-style-type: none;
}

.quickLinks ul li {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(5, 13, 102);
    margin: 3px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}

.quickLinks ul li a {
    text-decoration: none;
    color: white;
    /* background-color: aqua; */
    padding: 8px 18px;
}

.quickLinks ul li:hover {
    color: red;
    transition-duration: 0.5s;
    background-color: rgb(5, 10, 69);
    transform: scale(1.05);
}

.quickLinks ul li a:hover {
    color: red;
    transition-duration: 0.5s;
}

footer {
    text-align: center;
    margin: 10px 0px;
    position: absolute;
    bottom: -10px;
    background-color: rgb(5, 13, 102);
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: bolder;
}


/* Resume Page Style */
#header {
    /* display: none; */
}

#footer {
    /* display: none; */
}

.rContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* display: none; */
}

.leftSection {
    display: flex;
    flex-direction: column;
    width: 23%;
    /* background-color: aqua; */
}

.leftSection .receivedForms {
    list-style-type: none;
    height: 300px;
    background-color: rgb(17, 17, 55);
    border-radius: 15px;
}

.leftSection .receivedForms h2 {
    text-align: center;
    color: white;
    padding: 7px 0px;
    border-bottom: solid 2px white;
}

.leftSection .receivedForms li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftSection .generateForm {
    width: 100%;
    background-color: rgb(17, 17, 55);
    border-radius: 15px;
    min-height: 200px;
    max-height: fit-content;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.leftSection .generateForm h2 {
    padding: 5px 0px;
    border-bottom: solid 2px white;
    width: 100%;
    text-align: center;
}

.leftSection .generateForm input {
    height: 30px;
    width: 30px;
    margin-top: 5px;
}
.leftSection .generateForm label {
  margin-top: 5px;
  margin-left: 10px;
}
.leftSection .generateForm button {
    height: 35px;
    width: 200px;
    background-color: green;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
}

.leftSection .generateForm .checkBoxGM li{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 50px;
}
#formLink{
    width: 100%;
    padding: 5px;
    margin-left: 10px;
}


.mainForm {
    width: 55%;
    background-color: white;
    border-radius: 15px;
    height: 600px;
    overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainForm .rHeader h1 {
    font-size: 18px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

.mainForm .rHeader {
    display: none;
}

.mainForm .rBody {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 10px;
    /* margin: 0px auto; */
}

form h2 {
    text-align: center;
    padding: 5px;
}

form li {
    list-style-type: none;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .fullWidth {
    /* background-color: aqua; */
}

form .twoInputs {
    /* background-color: aquamarine; */

}

form .fullWidth input {
    width: 90%;
}

form .fullWidth label {
    /* background-color: blue; */
    width: 10%;
    text-align: right;
    padding: 10px;
}

form .twoInputs input {
    width: 38%;
}

form .twoInputs label {
    width: 10%;
    text-align: right;
    padding: 10px;
    /* background-color: blue; */
}

form .qualification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
}
form .qualification .row{
    display: flex;
    width: 100%;
    align-items: center;;
}
form .qualification input{
    margin: 5px;
}
form .qualification label{
    margin: 5px;
}
form .expInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .expInputs div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
form .expInputs div input{
    width: 97%;
    margin-top: 5px;
}
form .expInputs div label{
    /* width: 5%; */
}
.short{
    width: 10%;
}
.large{
    width: 90%;
}

form input {
    height: 30px;
    /* width: 40%; */
    padding: 2px;
}

form h3 {
    text-align: left;
    width: 100%;
    margin: 5px 0px;
}

.controlButtons {
    width: 20%;
    /* background-color: aquamarine; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: center; */
}

.controlButtons button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-weight: bolder;
}

.finalResume1 {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

.finalResume1 h2 {
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
}

.finalResume1 h3 {
    font-size: 12pt;
    text-decoration: underline;
    margin: 12pt 0pt;
}

.finalResume1 .mainInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.finalResume1 .mainInfo .image img {
    height: 3.67cm;
    width: 3.12cm;
    border: solid 1px black;
}

.finalResume1 hr {
    border: solid 1.5px black;
}

.educationBlocks {
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
    align-items: center;

}

.educationBlocks ul {
    list-style-type: none;
    min-width: 100px;
    max-width: fit-content;
}

.educationBlocks ul li {
    height: 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 5px;
    font-size: 12pt;
}

.Experience,
.Strengths,
.Hobbies {
    padding-left: 120px;
    list-style-type: square;
}

.Experience li,
.Strengths li,
.Hobbies li {
    margin-top: 11.5pt;
}

.personalDetails {
    display: flex;
    flex-direction: row;
}

.personalDetails ul {
    list-style-type: none;
    margin-left: 10px;
}

.personalDetails ul li {
    margin-top: 11.5pt;
}

.personalDetails ul li:nth-child(1) {
    margin-top: 0px;
}

.paragraphAlign {
    text-indent: 100px;

}

.bold {
    font-weight: bold;
}

.lastLineSign {
    display: flex;
    justify-content: space-between;
}

/*Photo Printer Section Style */

.pContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 70%;
}

.pContent .leftSection {
    width: 25%;
    /* background-color: aqua; */
}

.pContent .leftSection .layouts {
    width: 95%;
}

.pContent .leftSection .Status {
    width: 95%;
    margin-top: 10px;
}

.pContent .leftSection .Status li {
    cursor: auto;
}

.pContent .middleSection {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 33, 53);
    border-radius: 15px;
    margin-left: -5px;
}

.pContent .middleSection img {
    border: solid 1px black;
}

.pContent .middleSection input {
    height: 30px;
    width: 200px;
    margin: 5px;
    padding: 2px 5px;
    font-size: 16px;
}

.pContent button {
    height: 35px;
    width: 150px;
    background-color: green;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin: 5px;
}

.pContent .rightSection {
    width: 38%;
    background-color: rgb(17, 17, 55);
    border-radius: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.pContent .rightSection h4 {
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.pContent .rightSection .Preview {
    height: 100%;
    width: 75%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.pContent .rightSection .Preview .PreviewPage {
    /* background-color: black; */
    width: 12cm;
    height: 14cm;
    overflow-y: scroll;
    padding-left: 15px;
}

.pContent .rightSection .Preview .PreviewPage img {
    border: solid 1px black;
}

.active {
    /* background-color: rgb(5, 13, 102); */
    background-color: green;
    background-color: rgb(23, 62, 98);
}

.middleSection .negative {
    background-color: rgb(208, 12, 12);
}


/* Common Styles */
.topBorder {
    border-top: solid 1px black;
}

.leftBorder {
    border-left: solid 1px black;
}
